.container {
  background-color: #65e9dc91;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 20px;
}
#aboutmetab {
  color: #2ebbadd5;
}

legend {
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  font-size: 250%;
  text-align: center;
  text-decoration: underline;
}
.codestorycontainer {
  background-color: #bfa4f0;
  transform: skewX(-12deg);
  width: 60%;
  height: 100%;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.codeStory {
  align-self: center;
  height: 100%;
  padding: 1%;
  width: 86%;
  margin-left: 4%;
  overflow: scroll;
  text-align: justify;
  font-family: 'lato';
  color: #ffffff;
  font-size: 95%;
  border: none;
  transform: skewX(12deg);
}

#avatar {
  width: 20%;
  border-radius: 50%;
  padding-right: 2%;
}
.aboutmecontainer {
  background-color: #fce3f8;
  transform: skewX(-34deg);
  width: 25%;
  height:100%;
  z-index: -1;
}
.aboutMe {
  width: 80%;
  height: 50%;
  overflow: scroll;
  text-align: center;
  font-family: 'lato';
  color: #ffffff;
  font-size: 95%;
  border: none;
  transform: skewX(34deg);
  background-color: #60cbf5;
}
#btc {
  background-color: #60cbf5;
  width: 110%;
}