@keyframes HME {
  0% {
    transform: translateY(-90%) translateX(-110%);
  }
  25% {
    transform: translateY(0%) translateX(0%);
    border-radius: 60%;
  }
  50%{
    transform: translateY(90%) translateX(-110%) rotate(20deg);
  }
  75% {
    transform: translateY(0%) translateX(0%);
  }
  100% {
    transform: translateY(-90%) translateX(-110%);
  }
}
@keyframes TL {
  0% {
    transform: translateY(100%) translateX(150%);
  }
  25% {
    transform: translateY(0%) translateX(0%);
    border-radius: 60%;
  }
  50%{
    transform: translateY(-100%) translateX(150%);
  }
  75% {
    transform: translateY(0%) translateX(0%) rotate(-20deg);
  }
  100% {
    transform: translateY(100%) translateX(150%);
  }
}
@keyframes clockwise {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50%{
    transform: rotate(360deg);
  }
  75% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes counterclockwise {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-180deg);
  }
  50%{
    transform: rotate(-360deg);
  }
  75% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
