.container {
  background-color: #fa9fe54a;
}
#personaltab {
  color: #fa9fe5;
}
.ballPC {
  width: 45%;
  height: 24%;
  background-image: url(assets/8ballPC.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow: visible;
  transform: rotate(-10deg);
}
.nintiesPC {
  width: 45%;
  height: 24%;
  background-image: url(assets/90sPC.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow: visible;
}
.meowPC {
  width: 45%;
  height: 24%;
  background-image: url(assets/meowmachinePC.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow: visible;
}
.bookshelfPC {
  width: 45%;
  height: 24%;
  background-image: url(assets/bookshelfPC.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow: visible;
  transform: rotate(-8deg);
}
.spacePC {
  width: 45%;
  height: 24%;
  background-image: url(assets/scrollinspacePC.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow: visible;
}