.container {
  background-color: #fa9fe54a;
}
#personaltab {
  color: #fa9fe5;
}
.ballPC {
  width: 45%;
  height: 24%;
  background-image: url(assets/8ballPC.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow: visible;
  transform: rotate(-10deg);
}
.nintiesPC {
  width: 45%;
  height: 24%;
  background-image: url(assets/90sPC.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow: visible;
}
.meowPC {
  width: 45%;
  height: 24%;
  background: url(assets/meowmachinePC.png) center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow: visible;
}
.bookshelfPC {
  width: 45%;
  height: 24%;
  background: url(assets/bookshelfPC.png) center;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow: visible;
  transform: rotate(-8deg);
}
.spacePC {
  width: 45%;
  height: 24%;
  background-image: url(assets/scrollinspacePC.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow: visible;
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  html {
    background-color: #fa9fe54a;
  }
  .ballPC {
    width: 50%;
    background-size: cover;
  }
  .nintiesPC {
    width: 50%;
    background-size: cover;
  }
  .meowPC {
    width: 50%;
    background-size: cover;
  }
  .bookshelfPC {
    width: 50%;
    background-size: cover;
  }
  .spacePC {
    width: 50%;
    background-size: cover;
  }
}