@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
.container {
  text-align: center;
  width: 90vw;
  height: 85vh;
  position: fixed;
  top: 8%;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 10px 18px 8px rgba(0, 0, 0, 0.4), 16px 18px 8px rgba(0, 0, 0, 0.2);
}
.wall {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: visible;
}
.bulletin {
  width: 20%;
  height: 90%;
  margin-top: .5%;
  background: #ededed;
  background: linear-gradient(0deg, #ededed 0%,
   #d1d1d1 2%, #ededed 3%, #d1d1d1 5%,#ededed 6%, 
   #d1d1d1 8%, #ededed 9%, #d1d1d1 11%, #ededed 12%, 
   #d1d1d1 14%, #ededed 15%, #d1d1d1 17%, #ededed 18%,
   #d1d1d1 20%, #ededed 21%, #d1d1d1 23%, #ededed 24%,
   #d1d1d1 26%, #ededed 27%, #d1d1d1 29%, #ededed 30%,
   #d1d1d1 32%, #ededed 33%, #d1d1d1 35%,
   #ededed 36%, #d1d1d1 38%, #ededed 39%, #d1d1d1 41%,
   #ededed 42%, #d1d1d1 44%, #ededed 45%, #d1d1d1 47%,
   #ededed 48%, #d1d1d1 50%, #ededed 51%, #d1d1d1 53%,
   #ededed 54%, #d1d1d1 56%, #ededed 57%, #d1d1d1 59%,
   #ededed 60%, #d1d1d1 62%, #ededed 63%, #d1d1d1 65%,
   #ededed 66%, #d1d1d1 68%, #ededed 69%, #d1d1d1 71%,
   #ededed 72%, #d1d1d1 74%, #ededed 75%, #d1d1d1 77%,
   #ededed 78%, #d1d1d1 80%, #ededed 81%, #d1d1d1 83%,
   #ededed 84%, #d1d1d1 86%, #ededed 87%, #d1d1d1 89%,
   #ededed 90%, #d1d1d1 92%, #ededed 93%, #d1d1d1 95%,
   #ededed 96%, #d1d1d1 98%, #ededed 99%, #d1d1d1 100%);
   border-left: ridge 10px #ffffff;
   border-right: groove 10px #ffffff;
   border-top: ridge 10px #ffffff;
   border-bottom: groove 10px #ffffff;
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   align-items: flex-start;
   flex-wrap: wrap;
   overflow: visible;
}
.bulletin h3 {
  font-family: 'Lato', sans-serif;
  text-align: center;
  letter-spacing: 3px;
  height: 12%;
  font-size: 100%;
  align-self: flex-start;
  margin-top: 0%;
}

#pin {
  height: 4%;
  width: 2%;
  background-color: #ffffff;
  border: solid #ffffff 3px;
  border-radius: 50%;
  align-self: flex-start;
  margin-top: -1%;
}

.desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 40%;
  height: 120%;
  margin-top: .5%;
  z-index: +1;
}
.screen {
  background-size: 100%;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0px 0px;
  border: solid 20px #ffffff;
  border-bottom: solid 10px #ffffff;
  width: 100%;
  height: 65%;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: +1;
  overflow: scroll;
}
.dtss {
  width: 90%;
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  z-index: +1;
}
.screen p {
  width: 14%;
  height: 28%;
  text-align: center;
  font-size: 2em;
}
#H {
  font-family: 'Lato', sans-serif;
  background-color:#fa9fe5c9;
  color: #ffffff;
  animation: HME ease-in-out 20s infinite;
}
#T {
  font-family: 'Lato', sans-serif;
  background-color: #bfa4f0;
  color: #29d8c7;
  animation: TL ease-in-out 20s infinite;
}
#M {
  font-family: 'Reenie Beanie', cursive;
  font-size: 3.1em;
  background-color: #60cbf5c9;
  color: #fa9fe5;
  animation: HME ease-in-out 20s infinite;
}
#l {
  font-family: 'Reenie Beanie', cursive;
  font-size: 3.6em;
  background-color: #29d8c7;
  color: #bfa4f0;
  animation: TL ease-in-out 20s infinite;
}
#e {
  font-family: 'Reenie Beanie', cursive;
  font-size: 3.7em;
  background-color:#fa9fe5c9;
  color: #ffffff;
  animation: HME ease-in-out 20s infinite;
}
.screenbottom {
  width: 109%;
  height: 8%;
  border-radius: 0px 0px 20px 20px;
  background-color: #aaaaaa;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  z-index: +1;
}
.space {
  width: 12%;
}
.logo {
  width: 4.5%;
  height: 60%;
  position: relative;
  border: solid 2px #ffffff;
  border-radius: 50%;
  align-self: center;
}
.sticky {
  width: 12%;
  height: 180%;
  background-color: #bdf7f1;
  border-radius: 0px;
  align-self: flex-end;
  transform: rotate(-10deg) translateY(35%);
  font-family: 'Reenie Beanie', cursive;
  color: #000000;
  font-size: 1.2vw;
  text-align: center;
  box-shadow: 1px 4px 7px rgba(0,0,0,.2);
}
.stickyLink {
  transform: rotate(-10deg) translateY(35%);
  font-family: 'Reenie Beanie', cursive;
  color: #000000;
  font-size: 2vw;
  text-align: center;
  text-decoration: none;
}
.stand {
  width: 8%;
  height: 10%;
  background-color: #e0dddd;
}
.base {
  width: 60%;
  height: 3%;
  background-color: #ffffff;
  border-radius: 40%;
  border-bottom: ridge 6px #ffffff;
}

.endSection {
  width: 30%;
  height: 130%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  z-index: +1;
  overflow: visible;
}
.poster {
  width: 80%;
  height: 40%;
  border: ridge #bfa4f0 10px;
  align-self: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  z-index: +1;
  background-size: cover;
  overflow: scroll;
}
#art {
  width: 100%;
  height: 100%;
  align-self: center;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  z-index: +1;
}
.bigCloud {
  width: 60%;
  height: 40%;
  background-color: #60cbf5a9;
  border-radius: 70%;
  z-index: +1;
  transform: translateX(+10%) translateY(15%);
  font-size: 2.5em;
  font-family: 'Reenie Beanie', cursive;
  color: #ffffff;
  text-align: center;
}
.smallCloud {
  width: 40%;
  height: 40%;
  background-color: #ffffffd0;
  border-radius: 70%;
  transform: translateX(-10%) translateY(5%);
}
.bigHill {
  background-color: #29d8c68f;
  width: 50%;
  height: 40%;
  border-top-left-radius: 40% 90%;
  border-top-right-radius: 70% 110%;
  transform: translateX(15%);
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: +1;
  overflow: visible;
}

.smallHill {
  background-color: #61f3e454;
  width: 48%;
  height: 20%;
  border-top-left-radius: 50% 100%;
  border-top-right-radius: 50% 100%;
  transform: translateX(-15%);
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  z-index: -1;
  overflow: visible;
}
.trunk {
  width: 2%;
  height: 60%;
  background-color: #bfa4f0;
  transform: translateX(850%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  z-index: +1;
  overflow: visible;
}
.tree {
  width: 1200%;
  height: 90%;
  border-radius: 70%;
  background-color: #fa9fe59f;
  color: #e4a1e8;
  font-size: 2.5em;
  font-family: 'Reenie Beanie', cursive;
  transform: translateY(-40%) translateX(0%);
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  z-index: +1;
  overflow: visible;
}
#info {
  font-family: 'lato', serif;
  font-size: 1.2vw;
  line-height: 140%;
  text-align: center;
  overflow: scroll;
  height: 55%;
  align-self: flex-end;
}
.laptop {
  width: 80%;
  height: 50%;
  z-index: +1;
  transform: translateX(10%) translateY(8%);
  overflow: visible;
}
.LTscreen {
  height: 55%;
  width: 78%;
  border-radius: 10px 10px 10px 10px;
  border: 10px solid #ffffff;
  z-index: +1;
  transform: skewY(3deg);
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  background-color:#f0f0f0;
  background-size: cover;
}
.tab {
  height: 14%;
  width: 28%;
  background-color: #e6e6e6;
  border-left: solid 10px #fa9fe5;
  transform: translateX(200%) translateY(-80%);
  font-family: 'Reenie Beanie', cursive;
  font-size: 1.3vw;
  box-shadow: 1px 4px 7px rgba(0,0,0,.2);
  z-index: +1;
}
.tabLink {
  font-family: 'Reenie Beanie', cursive;
  color: #000000;
  border-radius: 0px;
  font-size: 1.3vw;
  z-index: +1;
  text-decoration: none;
}
.circles {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-self: center;
  flex-wrap: wrap;
  z-index: -1;
  transform: skewY(0deg) translateX(-20%);
  overflow: hidden;
}
#circle1 {
  height:90%;
  width: 150%;
  border-radius: 80%;
  border: solid 4px #bfa4f0;
  border-left: solid 8px #bfa4f0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-self: center;
  flex-wrap: wrap;
  z-index: -1;
  animation: clockwise ease-in-out 25s infinite;
}
#circle2 {
  height:80%;
  width: 70%;
  border-radius: 80%;
  border: double 4px #29d8c7;
  border-right: double 8px #29d8c7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-self: center;
  flex-wrap: wrap;
  z-index: +1;
  animation: counterclockwise ease-in-out 20s infinite;
}
#circle3 {
  height: 65%;
  width: 60%;
  border-radius: 80%;
  border: solid 2px #60cbf5;
  border-bottom: solid 3px #60cbf5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-self: center;
  flex-wrap: wrap;
  z-index: +1;
  animation: clockwise ease-in-out 15s infinite;
}
#circle4 {
  height: 60%;
  width: 70%;
  border-radius: 80%;
  border: dotted 2px #fa9fe5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-self: center;
  flex-wrap: wrap;
  z-index: +1;
  animation: counterclockwise ease-in-out 10s infinite;
}
.LTbottom {
  height: 37%;
  width: 90%;
  background-color: #cbcbcb;
  border-radius: 10px 10px 10px 10px;
  transform: skewX(-30deg) skewY(3deg) translateX(-14%);
  border-bottom: 7px solid #a0a0a0;
  border-right: 5px solid #a0a0a0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.keyboard {
  width: 80%;
  height: 40%;
  border: inset 3px #bababa;
  background: #cbcbcb;
  background-image: linear-gradient(to right, #cbcbcb 50%, #000000 50%);
  background-size: 15px 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#keys {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, transparent 0%, #cbcbcb 30%, transparent 50%, #cbcbcb 80%, transparent 100% );
  background-size: 20px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  line-height: 15px;
}

.pad {
  width: 28%;
  height: 33%;
  background-color: #bfbfbf;
  border-radius: 5px;
  border: solid 1px #9a9a9ab6;
}
.desk {
  width: 100%;
  height: 25%;
  background-color: #e6bfd4;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.24);
  transform: skewX(-64deg);
  border-bottom: solid 12px #e3b2ccbd;
  border-right: solid 30px #e3b2ccbd;
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: space-between;
  overflow: visible;
}
.deskItems  {
  width: 25%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: visible;
}
.mug {
  height: 160%;
  width: 40%;
  transform: skewX(64deg) translateX(40%) translateY(-17%);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: visible;
}

.handle {
  height: 45%;
  width: 26%;
  border-left: solid 10px #ffffff;
  border-bottom: solid 8px #ffffff;
  border-top: solid 8px #ffffff;
  border-right: solid 1px transparent;
  border-radius: 50%;
  transform: translateX(40%);
  z-index: -1;
}

.mugbody {
  position: relative;
  height: 100%;
  width: 80%;
  background: #ffffff;
  border-top-left-radius: 125px 50px;
  border-top-right-radius: 125px 50px;
  border-bottom-left-radius: 125px 50px;
  border-bottom-right-radius: 125px 50px;
  align-self: flex-start;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  overflow: visible;
}
.coffee {
  margin-top: 5%;
  width: 80%;
  height: 24%;
  border-radius: 70%;
  border-top: solid 1px #ffffff;
  background-color: #543f30;
  align-self: center;
  box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.8);
}
.powered {
  width: 100%;
  height: 70%;
  font-family: 'Lato';
  font-size: .7em;
  color: #60cbf5;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  overflow: visible;
}
.pastel {
  width: 70%;
  height: 40%;
  transform: rotate(-5deg);
  border-top-left-radius: 70%;
  border-bottom-left-radius: 60%;
  border-left: solid 6px #29d8c7;
  border-bottom: solid 4px #60cbf5;
  border-top-right-radius: 60%;
  border-bottom-right-radius: 70%;
  border-right: solid 2px #bfa4f0;
  border-top: solid 2px #fa9fe5;
  color: #fa9fe5;
  align-self: center;
  font-size: 2em;
  font-family: 'Reenie Beanie';
  line-height: 30px;
}

.stain {
  margin-left: 10%;
  width: 25%;
  height: 100%;
  border-right: double 4px #6f4e37;
  border-top: groove 6px #a97957;
  border-bottom: dashed 1px #3c2d23;
  border-radius: 50px;
  transform: skewX(65deg) scaleX(1.1) scaleY(.5) skewY(5deg);
  z-index: -1;
  opacity: .5;
}
.phone {
  width: 20%;
  height: 125%;
  background: rgb(241,226,238);
  background: rgb(17,17,17);
  background: linear-gradient(60deg,  #60cbf5 10%,  #29d8c7 30%, #bfa4f0 70%, #fa9fe5 90%);
  border: solid #ffffff 6px;
  border-right: inset #ffffff 6px;
  border-bottom: ridge #ffffff 6px;
  border-left: groove #ffffff 8px;
  border-radius: 10px;
  transform: skewX(70deg) skewY(-15deg) scaleY(.9) scaleX(1.1);
  align-self: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#clock {
  font-family: 'Lato';
  color: #ffffff;
  font-size: 70%;
  align-self: flex-start;
  margin-top: 10%;
  text-align: center;
  transform: translateY(-50%) translateX(13%);
}
#date {
  font-family: 'Lato';
  color: #ffffff;
  font-size: 60%;
  align-self: center;
  margin-top: 0%;
  text-align: center;
}
.underdesk {
  width: 71%;
  height: 12%;
  border-right: solid 30px #b6adb293;
  border-left: solid 25px #b5adb1c4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: visible;
}
.chair {
  z-index: +1;
  width: 33%;
  height: 200%;
  margin-left: -10%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top: solid 20px #ffffff;
  border-left: solid 15px #ffffff;
  border-right: solid 15px #ffffff;
  background: transparent;
  background: radial-gradient(circle, transparent 0%, transparent 10%,
   transparent 20%, transparent 30%, transparent 40%, transparent 50%, #ffffff 60%);
  background-size: 24px 23px;
  background-position: top center;
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  .container {
    margin-top: 7%;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(0, 0, 0, 0);
    width: 90%;
    height: 50vh;
    left: 0%;
  }
  .bulletin h3 {
    font-size: 50%;
  }
  .desktop {
    width: 40%;
    height: 110%;
    margin-top: 10%;
  }
  .screen {
    background-size: 100%;
    border-radius: 10px 10px 0px 0px;
    border: solid 5px #ffffff;
    border-bottom: solid 5px #ffffff;
    width: 95%;
    height: 55%;
    background-color: #f1f1f1;
  }
  .screen p {
    font-size: 1em;
  }
  #M {
    font-size: 2.1em;
  }
  #l {
    font-size: 2em;
  }
  #e {
    font-size: 2em;
  }
  .screenbottom {
    width: 99%;
    height: 8%;
    border-radius: 0px 0px 10px 10px;
  }
  .sticky {
    width: 12%;
    height: 140%;
    font-size: 2vw;
  }
  .stickyLink {
    transform: rotate(-10deg) translateY(35%);
    font-family: 'Reenie Beanie', cursive;
    color: #000000;
    font-size: 3vw;
    text-align: center;
    text-decoration: none;
  }
  .tree {
    transform: translateY(-40%) translateX(-44%);
  }
  #info {
    font-size: 3vw;
    height: 58%;
  }
  .LTscreen {
    height: 55%;
    width: 76%;
    transform: skewY(3deg);
  }
  .tab {
    transform: translateX(200%) translateY(-80%);
    font-size: 2.5vw;
  }
  .tabLink {
    font-size: 3vw;
  }
  .LTbottom {
    height: 39%;
    width: 92%;
    border-radius: 10px 10px 10px 10px;
    transform: skewX(-30deg) skewY(3deg) translateX(-15%);
    border-bottom: 4px solid #a0a0a0;
    border-right: 3px solid #a0a0a0;
  }
  .keyboard {
    border: inset 1px #bababa;
  }
  #keys {
    background-size: 15px 10px;
  }
  .desk {
    transform: skewX(0deg);
    border-right: none;
  }
  .mug {
    transform: skewX(0deg);
  }
  .handle {
    height: 35%;
    width: 20%;
    border-left: solid 5px #ffffff;
    border-bottom: solid 8px #ffffff;
    border-top: solid 8px #ffffff;
    transform: translateX(40%) translateY(-5%);
  }
  
  .mugbody {
    height: 90%;
    width: 90%;
    border-top-left-radius: 125px 60px;
    border-top-right-radius: 125px 60px;
    border-bottom-left-radius: 125px 60px;
    border-bottom-right-radius: 125px 60px;
  }
  .coffee {
    margin-top: 6%;
    width: 80%;
    height: 24%;
    border-radius: 70%;
    border-top: solid 1px #ffffff;
    background-color: #543f30;
    align-self: center;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.8);
  }
  .powered {
    display: none;
  }
  .stain {
   display: none;
  }
  .phone {
    border: solid #ffffff 3px;
    border-right: inset #ffffff 2px;
    border-bottom: ridge #ffffff 5px;
    border-left: groove #ffffff 3px;
    border-radius: 6px;
    transform: skewX(6deg) skewY(-3deg) scaleY(.9) scaleX(1.1);
  }
  #clock {
    font-size: 30%;
    margin-top: 18%;
    text-align: center;
    transform: translateY(-10%) translateX(2%);
  }
  #date {
    font-size: 6px;
    margin-top: -30%;
  }
  .underdesk {
    display: none;
  }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
  .bulletin h3 {
    font-size: 50%;
  }
  .desktop {
    width: 40%;
    height: 110%;
    margin-top: 10%;
  }
  .screen {
    background-size: 100%;
    border-radius: 10px 10px 0px 0px;
    border: solid 5px #ffffff;
    border-bottom: solid 5px #ffffff;
    width: 95%;
    height: 55%;
    background-color: #f1f1f1;
  }
  .screen p {
    font-size: 1em;
  }
  #M {
    font-size: 2.1em;
  }
  #l {
    font-size: 2em;
  }
  #e {
    font-size: 2em;
  }
  .screenbottom {
    width: 99%;
    height: 8%;
    border-radius: 0px 0px 10px 10px;
  }
  .sticky {
    width: 12%;
    height: 140%;
    font-size: 1vw;
  }
  .stickyLink {
    transform: rotate(-10deg) translateY(35%);
    font-family: 'Reenie Beanie', cursive;
    color: #000000;
    font-size: 1.5vw;
    text-align: center;
    text-decoration: none;
  }
  .tree {
    transform: translateY(-40%) translateX(-44%);
  }
  .desk {
    transform: skewX(0deg);
    border-right: none;
  }
  .mug {
    transform: skewX(0deg);
  }
  .handle {
    height: 35%;
    width: 20%;
    border-left: solid 5px #ffffff;
    border-bottom: solid 8px #ffffff;
    border-top: solid 8px #ffffff;
    transform: translateX(40%) translateY(-5%);
  }
  
  .mugbody {
    height: 90%;
    width: 90%;
    border-top-left-radius: 125px 60px;
    border-top-right-radius: 125px 60px;
    border-bottom-left-radius: 125px 60px;
    border-bottom-right-radius: 125px 60px;
  }
  .coffee {
    margin-top: 6%;
    width: 80%;
    height: 24%;
    border-radius: 70%;
    border-top: solid 1px #ffffff;
    background-color: #543f30;
    align-self: center;
    box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.8);
  }
  .powered {
    display: none;
  }
  .stain {
   display: none;
  }
  .phone {
    border: solid #ffffff 3px;
    border-right: inset #ffffff 2px;
    border-bottom: ridge #ffffff 5px;
    border-left: groove #ffffff 3px;
    border-radius: 6px;
    transform: skewX(6deg) skewY(-3deg) scaleY(.9) scaleX(1.1);
  }
  #clock {
    font-size: 30%;
    margin-top: 18%;
    text-align: center;
    transform: translateY(-10%) translateX(2%);
  }
  #date {
    font-size: 6px;
    margin-top: -30%;
  }
  .underdesk {
    display: none;
  }
}
