.container {
  background-color: #e3f1e2;
  margin-left: 6%;
  width: 80%;
  height: 75vh;
  position: fixed;
  top: 12%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  border-radius: 20px;
}
.wall {
  width: 100%;
  height: 60%;
  background-color: #e3f1e2;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: visible;
}
.bulletin {
  width: 18%;
  height: 90%;
  margin-top: .5%;
  background: #ededed;
  background: linear-gradient(0deg, #ededed 0%,
   #d1d1d1 2%, #ededed 3%, #d1d1d1 5%,#ededed 6%, 
   #d1d1d1 8%, #ededed 9%, #d1d1d1 11%, #ededed 12%, 
   #d1d1d1 14%, #ededed 15%, #d1d1d1 17%, #ededed 18%,
   #d1d1d1 20%, #ededed 21%, #d1d1d1 23%, #ededed 24%,
   #d1d1d1 26%, #ededed 27%, #d1d1d1 29%, #ededed 30%,
   #d1d1d1 32%, #ededed 33%, #d1d1d1 35%,
   #ededed 36%, #d1d1d1 38%, #ededed 39%, #d1d1d1 41%,
   #ededed 42%, #d1d1d1 44%, #ededed 45%, #d1d1d1 47%,
   #ededed 48%, #d1d1d1 50%, #ededed 51%, #d1d1d1 53%,
   #ededed 54%, #d1d1d1 56%, #ededed 57%, #d1d1d1 59%,
   #ededed 60%, #d1d1d1 62%, #ededed 63%, #d1d1d1 65%,
   #ededed 66%, #d1d1d1 68%, #ededed 69%, #d1d1d1 71%,
   #ededed 72%, #d1d1d1 74%, #ededed 75%, #d1d1d1 77%,
   #ededed 78%, #d1d1d1 80%, #ededed 81%, #d1d1d1 83%,
   #ededed 84%, #d1d1d1 86%, #ededed 87%, #d1d1d1 89%,
   #ededed 90%, #d1d1d1 92%, #ededed 93%, #d1d1d1 95%,
   #ededed 96%, #d1d1d1 98%, #ededed 99%, #d1d1d1 100%);
   border-left: ridge 10px #ffffff;
   border-right: groove 10px #ffffff;
   border-top: ridge 10px #ffffff;
   border-bottom: groove 10px #ffffff;
}
.desktop {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 40%;
  height: 120%;
  margin-top: .5%;
  z-index: +1;
}
.screen {
  /* background-image: url(assets/90s.gif); */
  background-size: 92%;
  background-position: 50% 20%;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0px 0px;
  border: solid 20px #ffffff;
  width: 100%;
  height: 60%;
}
.screenbottom {
  width: 110%;
  height: 8%;
  border-radius: 0px 0px 20px 20px;
  background-color: #aaaaaa;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
}
.logo{
  width: 6%;
  height: 90%;
  position: relative;
}
.orange {
  width: 80%;
  height: 80%;
  border-radius: 50%;
  background-color: #f5be27b7;
  box-shadow: inset 3px -3px  #dfaa39b7;
  position: absolute;
  top:20%;
}
.orange:before {
  content: "";
  position: absolute;
  top: -30%;
  left: 50%;
  height: 0;
  width: 0;
  border: 5px solid #4ddb296c;
  border-radius: 50% 0 50% 0;
  border-bottom-color: #19bd3480;
  border-right-color: #20c2209d;
}
.stand {
  width: 8%;
  height: 10%;
  background-color: #e0dddd;
}
.base {
  width: 60%;
  height: 3%;
  background-color: #ffffff;
  border-radius: 40%;
  border-bottom: ridge 6px #ffffff;
}
.desktop img {
  width: 100%;
  height: 100%;
  transform: translateY(10px);
}
.endSection {
  border: solid red 1px;
  width: 35%;
  height: 130%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  z-index: +1;
}
.laptop {
  width: 70%;
  height: 50%;
  z-index: +1;
  /* border: solid yellow 2px; */
  margin-top: 40%;
  overflow: visible;
}
.LTscreen {
  height: 60%;
  width: 80%;
  border-radius: 10px 10px 0px 0px;
  border: 10px solid #ffffff;
  z-index: +1;
  transform: skewY(3deg);
}
.LTbottom {
  height: 37%;
  width: 90%;
  background-color: #aaaaaa;
  border-radius: 0px 0px 10px 10px;
  transform: skewX(-30deg) skewY(3deg) translateX(-12%);
  border-bottom: 7px solid #a0a0a0;
  border-right: 5px solid #a0a0a0;
}
.desk {
  width: 100%;
  height: 25%;
  background-color: #e6bfd4;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  transform: skewX(-64deg);
  border-bottom: solid 12px #e3b2ccbd;
  border-right: solid 30px #e3b2ccbd;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  overflow: visible;
}
.phone {
  width: 90%;
  height: 70%;
  /* border: solid red 2px; */
  transform: skewX(64deg) skewY(-3deg);
  float: left;
}
#phone {
  position: left;
  width: 10%;
  height: 100%;
}

.underdesk {
  width: 71%;
  height: 12%;
  border-right: solid 30px #b6adb293;
  border-left: solid 25px #b5adb1;
  box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.4);
}
